.file-attr {
  font-size: 12px;
  color: #999;
}

.file-not-found {
  color: #777;
}

.file-error {
  color: #922;
}

.stacktrace-panel {
  height: 80vh;
  overflow: auto;

  white-space: pre-wrap;
  font-size: 11px;
}

.log-format {
  padding: 10px 0 10px 0;

  white-space: pre;
  font-size: 12px;
  overflow: auto;
  font-family: monospace;
}