
$top-panel-background: #f5f5f5;
$top-element-hover: #d6d6d6;
$top-element-border-color: #d7d7d7;
$top-element-border-color-hover: #717171;
$top-element-border-radius: 2px;

$close-icon-color: #800;
$top-filter-closer-size: 15px;

$filter-panel-top-margin: 3px;

@mixin log-text {
  word-break: break-all;
  white-space: pre-wrap;
  font-size: 13px;
  line-height: normal;
  font-family: monospace;

  position: relative;

  color: #111;
}
