<lv-level-list *ngIf="filterPanelStateService.activeFilterEditors.level"
                       [levelsDescription]="filterPanelStateService.activeFilterEditors.level"
></lv-level-list>

<lv-exception-only *ngIf="filterPanelStateService.getFilterState().exceptionsOnly"></lv-exception-only>

<lv-date-interval *ngIf="filterPanelStateService.activeFilterEditors.dateRange && filterPanelStateService.getFilterState().date"></lv-date-interval>

<lv-thread-filter *ngIf="filterPanelStateService.activeFilterEditors.thread && filterPanelStateService.getFilterState().thread"></lv-thread-filter>

<lv-js-filter *ngFor="let g of filterPanelStateService.getFilterState().jsFilters" [filterId]="g.id">
    
</lv-js-filter>

<lv-text-filter *ngFor="let f of filterPanelStateService.getFilterState().textFilters" [filterId]="f.id">
    
</lv-text-filter>
