:host {
  display: block;
}

.fs-item {
  cursor: default;
  padding: 0 10px 1px 2px;
  white-space: nowrap;
}

.fs-item > div {
  display: inline-block;
}

.fs-item > div:last-child {
  padding-left: 1px;
}

.fs-item:hover {
  background: #f4f4f4;
}

.fs-item.selected {
  background: #3f7ad7 !important;
  color: white !important;

  .open-folder-progress {
    background-image: url("img/progress16_white.gif");
  }

  .open-link {
    color: #fff;
  }
}

.open-link {
  font-size: 12px;
}

.file-size {
  font-size: 12px;
  color: #999;
  margin-left: 4px;
}

.file-name {
  padding-left: 1px;
}

.favorite {
  display: none;
  float: right;
  font-size: 13px;
  padding: 2px 0 0 5px;
  color: #999;
}

.fs-item:hover .favorite {
  display: inline-block;
}

.fs-item .favorite.has-enables-favorites {
  display: inline-block;
}

.favorite span.fa {
  cursor: pointer;
}

.failed-load {
  color: red;
}

.dir-tool-icon {
  width: 16px;
}

.dir-tool-icon > span {
  cursor: pointer;
  top: 2px !important;
  font-size: 12px;
}

.open-folder-progress {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  background-image: url("img/progress16_black.gif");
}
