<div class="fs-item"
     [class.selected]="fsTreeService.selectedPath === item.path"
     [class.fs-item-file]="!isDir"
     (click)="onClick($event)" (dblclick)="dblClick($event)">
    <div [style.width]="(deep * 16) + 'px'">&nbsp;</div>

    <div class="dir-tool-icon">
        <!--<div style="padding-top: 4px; line-height: 1">-->
        <span *ngIf="isDir && !reqLoading.loading && dir.items == null"
              class="fas fa-caret-right" style="font-size: 15px;"
              [class.failed-load]="reqLoading.errorStatus"
              [title]="reqLoading.errorMsg || ''"></span>
        <span *ngIf="isDir && dir.items != null"
              class="fas fa-caret-down" style="font-size: 15px;"></span>

        <span *ngIf="isDir && reqLoading.loading" class="open-folder-progress">&nbsp;</span>
        <!--</div>-->
    </div>

    <div>
        <img [src]="item.icon">
    </div>

    <div class="file-name"
         [title]="file?.modificationTime == null ? '' : 'Last modification: ' + (file.modificationTime | date : 'medium')">{{item.name}}</div>
    <div class="file-size" title="File size">{{file?.size | slSize}}</div>

    <div *ngIf="navigationUrl">&nbsp;
        <a class="open-link" href="javascript:void(0)"
           title="Open file. Double click on file name opens file too"
           [routerLink]="[navigationUrl]" [queryParams]="{path: item.path}">open</a>
    </div>

    <span *ngIf="item.attr.favorite || favoriteAvailableTypes[file?.type]" class="favorite"
          [class.has-enables-favorites]="item.attr.favorite">
        <span title="Add/Remove to favorites"
              (click)="changeFavorites()"
              [class.in-favorites]="item.attr.favorite"
              class="fa fa-star"></span>
    </span>
</div>

<sl-fs-tree-item *ngFor="let fi of dir?.items" [deep]="deep + 1" [item]="fi"></sl-fs-tree-item>