<div class="prop-list">
    <div>
        <span class="key">{{ 'EVENT_DETAILS.HOST' | translate }}</span> {{log.node}}
    </div>
    <div>
        <span class="key">{{ 'EVENT_DETAILS.FILE' | translate }}</span> {{log.path}}
        <lv-file-status [status]="vs.statuses[log.id]" [showErrorMessages]="false"></lv-file-status>
    </div>
    <div>
        <span class="key" title="{{ 'EVENT_DETAILS.DATE_OF_THE_LOG_EVENT' | translate }}">
            {{ 'EVENT_DETAILS.TIMESTAMP' | translate }}:</span>&nbsp;<span *ngIf="timestamp" class="timestamp">{{timestamp}}</span>
        <span *ngIf="!timestamp" class="noItems">N/A</span>
    </div>
    <div>
        <span class="key" title="{{ 'EVENT_DETAILS.OFFSET_TITLE' | translate }}">
            {{ 'EVENT_DETAILS.OFFSET' | translate }}
        </span> {{record.start}}
    </div>
    <div>
        <span class="key">{{ 'EVENT_DETAILS.LOG_FORMAT' | translate }}</span> <span class="log-format">{{log.format}}</span>
    </div>
</div>

<hr>

<h3>{{ 'EVENT_DETAILS.FIELDS' | translate }}</h3>

<div (click)="fieldClick($event)">
    <div *ngFor="let field of fields">
        <div class="field">
            <span class="field-label">{{field.fieldName}} </span> <span #fieldVal class="field-value"></span>
        </div>
    </div>
</div>
