@import "src/css/variables";

.key {
  font-weight: bold;
}

.prop-list > div {
  padding-bottom: 5px;
}

.field {
  padding-bottom: 10px;
}

.field-label {
  display: inline-block;
  min-width: 40px;
  font-weight: bold;
}

.field-value {
  @include log-text;
}

.log-format {
  font-size: 12px;
  font-family: monospace;
}