@import "src/css/variables";

:host {
  display: inline;

  > span {
    display: inline-block;
    width: 16px;
    box-sizing: content-box;
    font-size: 16px;
    line-height: 1;
    text-align: center;
  }

  > .tool-button-pressed {
    color: #a00;
  }
}
