:host {
  display: block;
}

.view-pane {
  cursor: pointer;
}

.script-tail {
  color: #aaa;
  padding-left: 5px;
  white-space: nowrap;
}

.name {
  font-weight: bold;
  white-space: pre;
}

.script-editor-container {
  border: 1px #aaa solid;
  padding: 2px 0 2px 0;
  margin-bottom: 3px;
}

.script-info {
  font-size: 11px;
}

.field-in-info {
  font-weight: bold;
}

.field-with-comma:first-child > .comma {
  display: none;
}