<configuration>
    <contextName>spring-boot-2-logback</contextName>
    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>
    <jmxConfigurator/>

    <property name="DEFAULT_LOG_FORMAT"
              value="%date{yyyy-MM-dd_HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${DEFAULT_LOG_FORMAT}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${java.io.tmpdir}/log-viewer-demo-spring-boot-minimal.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${java.io.tmpdir}/fh-full.log.%i</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>5MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>${DEFAULT_LOG_FORMAT}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
    <root level="INFO">
        <appender-ref ref="FILE"/>
    </root>

</configuration>