<table class="log-table">
    <tr *ngFor="let l of logs">
        <td>
            <span *ngIf="showNodeName" [class.connection-problem]="statuses[l.id]?.errorType === 'ConnectionProblem'">{{l.node}}</span>
        </td>

        <td class="path">
            <a href="log?path={{l.url}}">{{l.path}}</a>
        </td>

        <td>
            <lv-file-status [status]="statuses[l.id]" [showErrorMessages]="false"></lv-file-status>
        </td>
    </tr>
</table>

<div class="action-panel">
    <button class="btn btn-outline-dark btn-sm" (click)="addLogClicked.emit(null)">Add log</button>
</div>