<div class="search-bar">

    <div class="right-top-panel">
        <div class="add-filter-menu">
            <div dropdown class="dropdown">
                <span data-toggle="dropdown" dropdownToggle class="add-filter-button">
                    {{ 'TOP_PANEL.ADD_FILTER' | translate }}
                </span>

                <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
                    <a id="add-date-filter" class="dropdown-item" href="#"
                       *ngIf="!filterPanelStateService.getFilterState().date && filterPanelStateService.activeFilterEditors.dateRange"
                       (click)="filterPanelStateService.addDateFilter()">
                        {{ 'TOP_PANEL.DATE_FILTER' | translate }}
                    </a>
                    <a id="add-thread-filter" class="dropdown-item" href="#"
                       *ngIf="!filterPanelStateService.getFilterState().thread && filterPanelStateService.activeFilterEditors.thread"
                       (click)="filterPanelStateService.addThreadFilter()">
                        {{ 'TOP_PANEL.THREAD_FILTER' | translate }}
                    </a>
                    <a id="add-stacktrace-filter" class="dropdown-item" href="#"
                       *ngIf="!filterPanelStateService.getFilterState().exceptionsOnly"
                       (click)="filterPanelStateService.addStacktraceFilter()">
                        {{ 'TOP_PANEL.EVENTS_CONTAINING_A_STACKTRACE' | translate }}
                    </a>
                    <a id="add-text-filter" class="dropdown-item" href="#"
                       (click)="filterPanelStateService.addTextFilter()">
                        {{ 'TOP_PANEL.TEXT_FILTER' | translate }}
                    </a>
                    <a id="add-js-filter" class="dropdown-item" href="#"
                       (click)="filterPanelStateService.addJsFilter()">
                        {{ 'TOP_PANEL.JAVASCRIPT_FILTER' | translate }}
                    </a>
                </div>
            </div>
        </div>

        <div *ngIf="logs" dropdown class="dropdown top-panel-dropdown file-list-block">
            <span id="file-stat-dropdown" data-toggle="dropdown" dropdownToggle>
                <span *ngIf="vs.filesValidCount < logs.length">
                    <span id="{{ 'TOP_PANEL.SUCCESSFULLY_OPENED_FILES' | translate }}" class="has-problems-files"
                          title="Successfully opened files">{{vs.filesValidCount}}
                    </span>
                    /
                </span>
                <span id="totalFileCount" title="{{ 'TOP_PANEL.MERGED_FILE_COUNT' | translate }}">
                    {{logs.length}}
                </span>
                {{'TOP_PANEL.LOGS' | translate:{count: logs.length} }}
                <i class="fas fa-caret-down"></i>
            </span>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                <lv-log-list-panel [logs]="logs" (addLogClicked)="showOpenLogDialog()"></lv-log-list-panel>
            </div>
        </div>

        <div class="dropdown" dropdown>
            <img id="menu-icon" src="img/menu.png" dropdownToggle data-toggle="dropdown" role="button"
                 title="{{'MENU.TITLE' | translate}}" alt="menu">
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="menu-icon">
                <a href="javascript:void(0)" class="dropdown-item" [routerLink]="['/']">
                    {{'MENU.FILE_BROWSE' | translate}}
                </a>

                <a href="javascript:void(0)" id="add-log-menu-item" class="dropdown-item"
                   (click)="showOpenLogDialog()">
                    {{'MENU.ADD_LOG_TO_THE_VIEW' | translate}}
                </a>

                <a href="javascript:void(0)" id="copyPermalink" class="dropdown-item"
                   (click)="copyPermalink()">
                    {{'MENU.PERMALINK_TO_THE_CURRENT_POSITION' | translate}}
                </a>

                <a href="javascript:void(0)" *ngIf="fwService.editable && logs?.length === 1" class="dropdown-item"
                   (click)="addToFavorites()">
                    <span class="fa fa-star favorite-icon" [class.in-favorites]="inFavorites"></span>
                    {{ 'MENU.' + (inFavorites ? 'REMOVE_FROM_FAVORITES' : 'ADD_THIS_LOG_TO_FAVORITES') | translate }}
                </a>

                <div class="dropdown-submenu dropleft">
                    <a href="javascript:void(0)" class="dropdown-item dropdown-toggle" data-toggle="dropdown">
                        {{'MENU.LANGUAGE' | translate}}
                    </a>
                    <ul class="dropdown-menu">
                        <a  href="javascript:void(0)" class="dropdown-item" id="en" (click)="setLanguage('en')"
                            [ngClass]="isCurrentLanguage('en') ? 'disabled' : ''">
                            English
                        </a>
                        <a href="javascript:void(0)" class="dropdown-item"  id="ru" (click)="setLanguage('ru')"
                           [ngClass]="isCurrentLanguage('ru') ? 'disabled' : ''">
                            Русский
                        </a>
                    </ul>
                </div>

                <a href="javascript:void(0)" *ngIf="logs?.length" id="download-menu-item" class="dropdown-item"
                   (click)="modalWindow = 'download'">
                    {{'MENU.DOWNLOAD' | translate}}
                </a>
            </div>
        </div>
    </div>

    <div class="left-top-panel">
        <div class="search-field">
            <div class="input-group">
                <input id="filterInput" type="text"
                       class="form-control"
                       placeholder="{{'TOP_PANEL.SEARCH_PLACEHOLDER' | translate}}"
                       [title]="searchRegexError ? searchRegexError : ''"
                       [class.search-invalid-regex]="searchRegexError"
                       (keyup)="filterInputKeyUp($event)"
                       (keydown)="filterInputKeyDown($event)">

                <div class="input-group-append">
                <span id="match-cases"
                      class="input-group-text search-option" title="{{'TOP_PANEL.MATCH_CASE' | translate}}"
                      (click)="caseSensitiveClick()"
                      [class.search-option-selected]="searchMatchCase">
                    <i class="fab fa-behance"></i>

                    <div class="search-option-highlighter"></div>
                </span>
                </div>
                <div class="input-group-append">
                <span id="match-regex"
                      class="input-group-text search-option" title="{{'TOP_PANEL.REGEXP_MODE' | translate}}"
                      (click)="regexModeClick()"
                      [class.search-option-selected]="searchRegex">
                    <i class="far fa-registered"></i>

                    <div class="search-option-highlighter"></div>
                </span>
                </div>
            </div>
        </div>

        <img *ngIf="!searchHideUnmatched" alt="prev"
             id="findPrevArrow" src="img/previousOccurrence.png" title="{{'TOP_PANEL.PREVIOUS_OCCURRENCE' | translate}}"
             class="toolIcon" [class.tooliconDisabled]="!searchPattern"
             (click)="findNext(-1)">
        <img *ngIf="!searchHideUnmatched" alt="next"
             id="findNextArrow" src="img/nextOccurrence.png" title="{{'TOP_PANEL.NEXT_OCCURRENCE' | translate}}"
             class="toolIcon" [class.tooliconDisabled]="!searchPattern"
             (click)="findNext(1)">

        <span *ngIf="searchHideUnmatched" id="applySearchFilterBlock">
            <img id="applySearchFilter" src="img/apply-search-filter.png" alt="apply change" width="20"
                 title="{{'TOP_PANEL.APPLY_FILTER' | translate}}"
                 class="toolIcon" [class.tooliconDisabled]="!appliedFilterOutdated()"
                 (click)="applySearchFilter()">

            <img src="img/nextOccurrence.png" class="toolIcon" alt="next" style="visibility: hidden;">
        </span>

        <input id="hide-unmatched" type="checkbox"
               [(ngModel)]="searchHideUnmatched" (ngModelChange)="hideUnmatchedChanged()">
        <label for="hide-unmatched" class="non-bold-label">{{'TOP_PANEL.HIDE_UNMATCHED' | translate}}</label>
    </div>

    <lv-top-filter></lv-top-filter>
</div>

<div #logPane id="logPane" (wheel)="wheelRoll($event)" [class.state-opened]="state === 0"
     (touchmove)="onTouchMove($event)" (touchstart)="onTouchStart($event)" (touchend)="onTouchEnd($event)"
     (touchcancel)="onTouchEnd($event)">

    <div *ngIf="state === 1" class="loading-placeholder">
        <span><img src="assets/progress.gif" alt="..."> {{'LOG_PANE.LOADING' | translate}}</span>
    </div>

    <div id="heightLimiter" [style.display]="vs.filesValidCount === 0 ? 'none' : 'block'">
        <div #logView id="logView">
            <div #loadingProgressTop id="loading-progress-top">
                <img src="img/loader13.gif" alt="loading...">
            </div>

            <div #records id="records" (click)="clickRecord($event)" (contextmenu)="contextMenu($event)"></div>
        </div>

        <div *ngIf="hasRecordAfter" id="loading-progress-bottom">
            <img src="img/loader13.gif" alt="loading...">
        </div>

        <div *ngIf="!hasRecordAfter && (hasRecordBefore || m.length > 0)" class="log-end">
            {{'LOG_PANE.END' | translate}}
        </div>
    </div>

    <div *ngIf="logs && state === 0 && (!hasRecordAfter && !hasRecordBefore && m.length === 0 || vs.filesValidCount === 0)"
         class="empty-log-message-container">
        <div *ngIf="logs.length === 0" class="empty-log-message-container">
            <div id="no-log-paths" class="empty-log-message" style="font-size: 24px;">
                {{'LOG_PANE.LOG_PATH_IS_NOT_SPECIFIED' | translate}}
                <a href="javascript:void(0)" [routerLink]="['/']">
                    {{'LOG_PANE.FILE_BROWSER' | translate}}
                </a>
            </div>
        </div>

        <div *ngIf="logs.length > 0" class="empty-log-message">
            <span *ngIf="vs.filesErrorCount === 0">
                <span *ngIf="vs.filesValidCount === 0" class="no-record-msg">
                    {{'LOG_PANE.LOG_FILE_DOES_NOT_EXIST' | translate}}
                </span>
                <span *ngIf="vs.filesValidCount > 0">
                    <span *ngIf="vs.size === 0" class="no-record-msg">{{'LOG_PANE.LOG_IS_EMPTY' | translate}}</span>
                    <span *ngIf="vs.size > 0"
                          class="no-record-msg">{{'LOG_PANE.ALL_RECORDS_FILTERED' | translate}}</span>
                </span>
            </span>
            <span *ngIf="vs.filesErrorCount > 0">
                <span *ngIf="vs.filesValidCount > 0"
                      class="no-record-msg">{{'LOG_PANE.NO_RECORD_TO_DISPLAY' | translate}}</span>
                <span *ngIf="vs.filesValidCount === 0" class="no-record-msg"
                      style="color: #a22;">{{'LOG_PANE.FAILED_TO_READ_LOG' | translate}}</span>
            </span>
        </div>

        <div *ngIf="logs.length > 0" class="file-list">
            <div>
                <table>
                    <tr *ngFor="let l of logs">
                        <td>
                            {{l.node}}
                        </td>
                        <td>
                            {{l.path}}
                        </td>
                        <td>
                            <lv-file-status [status]="vs.statuses[l.id]" [showErrorMessages]="true"></lv-file-status>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="sl-overlay" [style.display]="modalWindow === 'findProgress' ? 'block' : 'none'">
    <div class="modal-background sl-overlay"></div>

    <div class="sl-dialog sl-dialog-small">
        <div style="display: table; width: 100%; height: 100%; text-align: center;">
            <div style="display: table-cell; vertical-align: middle;">
                <img src="assets/progress.gif" alt="..."> {{'MODAL_WINDOW.SEARCH' | translate}} <a
                    href="javascript:void(0)" (click)="cancelSearch()">{{'MODAL_WINDOW.CANCEL' | translate}}</a>
            </div>
        </div>
    </div>
</div>

<div class="sl-overlay" [style.display]="modalWindow === 'filterChanging' ? 'block' : 'none'">
    <div class="modal-background sl-overlay"></div>

    <div class="sl-dialog sl-dialog-small">
        <div style="display: table; width: 100%; height: 100%; text-align: center;">
            <div style="display: table-cell; vertical-align: middle;">
                <img src="assets/progress.gif" alt="..."> {{'MODAL_WINDOW.APPLYING_FILTERS' | translate}}
            </div>
        </div>
    </div>
</div>

<div *ngIf="modalWindow" [ngSwitch]="modalWindow" class="sl-overlay">
    <div class="modal-background sl-overlay"></div>

    <div *ngSwitchCase="'disconnected'" class="sl-stretchable-dialog">
        <div>
            <div class="disconnect-dialog">
                <div [innerHTML]="disconnectMessage"></div>
                <div *ngIf="backendErrorStacktrace" class="internal-error-stacktrace">{{backendErrorStacktrace}}</div>
            </div>
        </div>
    </div>

    <div *ngSwitchCase="'brokenLink'" class="sl-dialog sl-dialog-small">
        <div style="padding: 10px 20px 0 20px;">
            <div style="display: table; width: 100%; height: 100%; text-align: center;">
                <div style="display: table-cell; vertical-align: middle;">
                    {{'MODAL_WINDOW.FAILED_TO_RESTORE_POSITION_BY_PERMALINK' | translate}}<br>
                    <button id="brokenLinkGoTail" class="btn btn-primary" (click)="goToTailAfterBrokenLink()">
                        {{'MODAL_WINDOW.OPEN_LOG_TAIL'| translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div *ngSwitchCase="'filter-error'" id="filter-error-modal" class="sl-dialog sl-dialog-big p-2">
        <div class="d-flex justify-content-end">
            <button id="close-filtering-error-dialog" class="btn btn-link" (click)="modalWindow = null">
                {{'MODAL_WINDOW.CLOSE' | translate}}
            </button>
        </div>

        <div class="filter-error-text">
            {{'MODAL_WINDOW.FILTER_ERROR' | translate}} {{filterErrorText}}
        </div>
    </div>

    <div *ngSwitchCase="'event-details'" class="sl-dialog sl-dialog-big p-2" style="overflow-y: scroll;">
        <div class="d-flex justify-content-end">
            <button class="btn btn-link" (click)="modalWindow = null">{{'MODAL_WINDOW.CLOSE' | translate}}</button>
        </div>

        <lv-event-details [record]="recordWithDetails"></lv-event-details>
    </div>

    <div *ngSwitchCase="'open-log'" class="sl-dialog sl-dialog-big p-2" style="overflow-y: scroll;">
        <div class="d-flex justify-content-end">
            <button class="btn btn-link" (click)="modalWindow = null">{{'MODAL_WINDOW.CLOSE' | translate}}</button>
        </div>

        <lv-navigator (openFile)="addNewLog($event)"></lv-navigator>
    </div>

    <div *ngSwitchCase="'download'" id="download-dialog" class="sl-dialog p-2">
        <div class="d-flex justify-content-end">
            <button class="btn btn-link" (click)="modalWindow = null">{{'MODAL_WINDOW.CLOSE' | translate}}</button>
        </div>

        <lv-download-dialog [logs]="logs" [effectiveFilters]="effectiveFilters">

        </lv-download-dialog>
    </div>
</div>

<context-menu menuClass="log-ctx-menu" #eventContextMenu>
    <ng-template [visible]="contextMenuHandler.isTextMenuItemVisible" let-item contextMenuItem [subMenu]="textMenu">
        <span>{{ 'CONTEXT_MENU.TEXT' | translate }}: <mark>{{item.selectedTextVisible}}</mark>&nbsp;&nbsp;</span>
    </ng-template>

    <ng-template [visible]="contextMenuHandler.isDateMenuItemVisible" contextMenuItem
                 (execute)="contextMenuHandler.hideEventsByTimestamp($event.value.record, false)">
        {{ 'CONTEXT_MENU.HIDE_EVENTS_OLDER_THAN_CURRENT' | translate }}
    </ng-template>
    <ng-template [visible]="contextMenuHandler.isDateMenuItemVisible" contextMenuItem
                 (execute)="contextMenuHandler.hideEventsByTimestamp($event.value.record, true)">
        {{ 'CONTEXT_MENU.HIDE_EVENTS_NEWER_THAN_CURRENT' | translate }}
    </ng-template>

    <ng-template [visible]="contextMenuHandler.isThreadMenuItemVisible" let-item contextMenuItem [subMenu]="threadMenu">
        <span class="menu-item-thread">{{ 'CONTEXT_MENU.THREAD' | translate }}: <mark>{{item.thread}}</mark>&nbsp;&nbsp;</span>
    </ng-template>

    <ng-template contextMenuItem (execute)="showEventDetails($event.value.record)">
        {{ 'CONTEXT_MENU.EVENT_DETAILS' | translate }}
    </ng-template>

    <ng-template [visible]="contextMenuHandler.isTextSelected" contextMenuItem divider="true"></ng-template>

    <ng-template [visible]="contextMenuHandler.isTextSelected" contextMenuItem
                 (execute)="contextMenuHandler.copyToClipboard()">
        {{ 'CONTEXT_MENU.COPY' | translate }}
    </ng-template>

</context-menu>

<context-menu #textMenu>
    <ng-template contextMenuItem let-item (execute)="contextMenuHandler.filterByText($event.value.selectedText, false)">
        <span>{{ 'CONTEXT_MENU.ONLY_EVENTS_CONTAINING' | translate }}
            <mark>{{item.selectedTextVisible}}</mark></span>
    </ng-template>

    <ng-template contextMenuItem let-item (execute)="contextMenuHandler.filterByText($event.value.selectedText, true)">
        <span>{{ 'CONTEXT_MENU.HIDE_EVENTS_CONTAINING' | translate }}
            <mark class="menu-item-text">{{item.selectedTextVisible}}</mark></span>
    </ng-template>
</context-menu>

<context-menu #threadMenu>
    <ng-template contextMenuItem let-item (execute)="contextMenuHandler.filterByThread($event.value.thread)">
        <span>{{ 'CONTEXT_MENU.SHOW_ONLY' | translate }}
            <mark>{{item.thread}}</mark></span>
    </ng-template>
    <ng-template contextMenuItem let-item [visible]="contextMenuHandler.hasThreadGroup"
                 (execute)="contextMenuHandler.filterByThread($event.value.threadGroup)">
        <span>{{ 'CONTEXT_MENU.SHOW_ONLY' | translate }}
            <mark [innerHTML]="item.threadGroupHtml"></mark></span>
    </ng-template>
    <ng-template contextMenuItem let-item (execute)="contextMenuHandler.excludeThread($event.value.thread)">
        <span>{{ 'CONTEXT_MENU.HIDE' | translate }}
            <mark class="menu-item-thread">{{item.thread}}</mark></span>
    </ng-template>
    <ng-template contextMenuItem let-item [visible]="contextMenuHandler.hasThreadGroup"
                 (execute)="contextMenuHandler.excludeThread($event.value.threadGroup)">
        <span>{{ 'CONTEXT_MENU.HIDE' | translate }}
            <mark [innerHTML]="item.threadGroupHtml"></mark></span>
    </ng-template>
</context-menu>
