<div #levelDd dropdown class="top-panel-dropdown dropdown" [insideClick]="true">
    <span data-toggle="dropdown" dropdownToggle>{{ 'TOP_PANEL.SEVERITY' | translate }} {{maxLevel}}<span *ngIf="hasSkipped">*</span>&nbsp;<i class="fas fa-caret-down"></i></span>
    <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
        <div class="level-drop-down">
            <div *ngFor="let level of levelsDescription.levels" class="level" [class.mouse-select]="selectUsingMouse[level]">
                <input type="checkbox" [(ngModel)]="selected[level]" (ngModelChange)="onCheckboxSelected()">&nbsp;

                <span class="level-name"
                      (mouseenter)="onLevelMouseEnter(level)"
                      (mouseleave)="onLevelMouseLeave(level)"
                      (click)="onLevelSelected(level)">{{level}}</span>
            </div>
        </div>
    </div>
</div>
