<form (submit)="applyChanges()">
    <h4>Exclude records condition</h4>
    <div *ngIf="filters.length === 0" class="noItems">
        No configured exclude condition
    </div>

    <table *ngIf="filters.length > 0" class="filter-table">
        <tr *ngFor="let f of filters; let idx = index">
            <td>
                <input type="checkbox" class="enableCb" [ngModelOptions]="{standalone: true}" [(ngModel)]="f.enabled">
            </td>
            <td>
                <div [ngSwitch]="f.predicate.type" class="predicate">
                    <sl-groovy-predicate-editor *ngSwitchCase="'GroovyPredicate'" [filter]="f" [forceEditing]="idx === forceEditingIndex"
                    (saved)="setFocusOnCheckbox(idx)">

                    </sl-groovy-predicate-editor>

                    <div *ngSwitchDefault>
                        Unknown filter type <b>{{f.predicate.type}}</b>
                    </div>
                </div>
            </td>
        </tr>
    </table>

    <img src="img/add.png" class="toolIcon" title="Add exclude condition" (click)="addFilter()">

    <button type="submit">
        Apply
    </button>
    &nbsp;
    <button type="reset" (click)="revertChanges()">Revert</button>

    <!--<h4>Show always conditions</h4>-->
    <!--<div *ngIf="model.included.length === 0" class="noItems">-->
    <!--No configured condition-->
    <!--</div>-->
</form>