:host {
  display: block;
  padding: 0 5px 7px 5px;
  min-width: 350px;
}

.filter-list {
  display: flex;
  padding-bottom: 5px;
}

.filter-list > sl-filter-editor {
  width: 100%;
  margin-left: 2px;
  margin-bottom: 5px;
}

.filter-table {
  width: 100%;
}

.predicate {
  width: 900px;
  overflow-x: hidden;
  padding: 2px;
}

.filter-table > tr > td {
  padding: 3px 0;
}

.filter-table > tr > td:first-child {
  width: 1%;
  vertical-align: top;
  padding-right: 5px;
}

.filter-table > tr > td:last-child {
}
