<div class="search-bar">

    <div class="right-top-panel">
        <div class="add-filter-menu">
            <div dropdown class="dropdown">
                <span data-toggle="dropdown" dropdownToggle class="add-filter-button">
                    + Add filter
                </span>

                <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
                    <a id="add-date-filter" class="dropdown-item" href="#"
                       *ngIf="!filterPanelStateService.getFilterState().date && filterPanelStateService.activeFilterEditors.dateRange"
                       (click)="filterPanelStateService.addDateFilter()">
                        Date filter
                    </a>
                    <a id="add-thread-filter" class="dropdown-item" href="#"
                       *ngIf="!filterPanelStateService.getFilterState().thread && filterPanelStateService.activeFilterEditors.thread"
                       (click)="filterPanelStateService.addThreadFilter()">
                        Thread filter
                    </a>
                    <a id="add-stacktrace-filter" class="dropdown-item" href="#"
                       *ngIf="!filterPanelStateService.getFilterState().exceptionsOnly"
                       (click)="filterPanelStateService.addStacktraceFilter()">
                        Events containing a stacktrace
                    </a>
                    <a id="add-groovy-filter" class="dropdown-item" href="#"
                       (click)="filterPanelStateService.addGroovyFilter()">
                        Groovy filter
                    </a>
                </div>
            </div>
        </div>

        <div *ngIf="logs?.length > 1" dropdown class="dropdown top-panel-dropdown file-list-block">
            <span id="file-stat-dropdown" data-toggle="dropdown" dropdownToggle>
                <span id="successFileCount" title="Successfully opened files"
                      [class.has-problems-files]="vs.filesValidCount < logs.length">{{vs.filesValidCount}}</span>
                /
                <span id="totalFileCount" title="Merged file count">{{logs.length}}</span>
                logs
                <i class="fas fa-caret-down"></i>
            </span>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                <sl-log-list-panel [logs]="logs" [statuses]="vs.statuses"></sl-log-list-panel>
            </div>
        </div>

        <div class="dropdown" dropdown>
            <img id="menu-icon" src="img/menu.png" dropdownToggle data-toggle="dropdown" role="button" title="Menu">
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="menu-icon">
                <a href="javascript:void(0)" class="dropdown-item" [routerLink]="['/']">File browser</a>
                <a href="#" id="copyPermalink" class="dropdown-item" (click)="copyPermalink()">Permalink to current position</a>
                <a href="javascript:void(0)" *ngIf="fwService.editable && logs.length === 1" class="dropdown-item"
                   (click)="addToFavorites()">
                    <span class="fa fa-star favorite-icon" [class.in-favorites]="inFavorites"></span>
                    {{inFavorites ? 'Remove from' : 'Add this log to'}} favorites
                </a>
            </div>
        </div>
    </div>

    <div class="left-top-panel">
        <div class="search-field">
            <div class="input-group">
                <input id="filterInput" type="text"
                       class="form-control"
                       placeholder="search..."
                       [title]="searchRegexError ? searchRegexError : ''"
                       [class.search-invalid-regex]="searchRegexError"
                       (keyup)="filterInputKeyUp($event)"
                       (keydown)="filterInputKeyDown($event)">

                <div class="input-group-append">
                <span id="match-cases"
                      class="input-group-text search-option" title="Match Case"
                      (click)="caseSensitiveClick()"
                      [class.search-option-selected]="searchMatchCase">
                    <i class="fab fa-behance"></i>

                    <div class="search-option-highlighter"></div>
                </span>
                </div>
                <div class="input-group-append">
                <span id="match-regex"
                      class="input-group-text search-option" title="Regexp mode"
                      (click)="regexModeClick()"
                      [class.search-option-selected]="searchRegex">
                    <i class="far fa-registered"></i>

                    <div class="search-option-highlighter"></div>
                </span>
                </div>
            </div>
        </div>

        <img *ngIf="!searchHideUnmatched"
             id="findPrevArrow" src="img/previousOccurrence.png" title="Previous Occurrence (Shift+F3)"
             class="toolIcon" [class.tooliconDisabled]="!searchPattern"
             (click)="findNext(-1)">
        <img *ngIf="!searchHideUnmatched"
             id="findNextArrow" src="img/nextOccurrence.png" title="Next Occurrence (F3)"
             class="toolIcon" [class.tooliconDisabled]="!searchPattern"
             (click)="findNext(1)">

        <span *ngIf="searchHideUnmatched" id="applySearchFilterBlock">
            <img id="applySearchFilter" src="img/apply-search-filter.png" width="20" title="Apply filter (F3)"
                 class="toolIcon" [class.tooliconDisabled]="!appliedFilterOutdated()"
                 (click)="applySearchFilter()">

            <img src="img/nextOccurrence.png" class="toolIcon" style="visibility: hidden;">
        </span>

        <input id="hide-unmatched" type="checkbox"
               [(ngModel)]="searchHideUnmatched" (ngModelChange)="hideUnmatchedChanged()"> <label for="hide-unmatched"
                                                                                                  class="non-bold-label">Hide
        unmatched</label>
    </div>

    <lv-top-filter></lv-top-filter>
</div>

<div #logPane id="logPane" (wheel)="wheelRoll($event)" [class.state-opened]="state === 0">
    <div *ngIf="state === 1" class="loading-placeholder">
        <span><img src="assets/progress.gif"> Loading...</span>
    </div>
    <div *ngIf="state === 3" class="io-error">{{backendError}}</div>

    <div id="heightLimiter">
        <div #logView id="logView">
            <div #loadingProgressTop id="loading-progress-top">
                <img src="img/loader13.gif">
            </div>

            <div #records id="records" (click)="clickRecord($event)" (contextmenu)="contextMenu($event)"></div>
        </div>

        <div *ngIf="hasRecordAfter" id="loading-progress-bottom">
            <img src="img/loader13.gif">
        </div>

        <div *ngIf="!hasRecordAfter && (hasRecordBefore || m.length > 0)" class="log-end"> ---------------- end
            ------------------------------- end ------------------------------- end -------------------------------
            end ------------------------------- end ------------------------------- end
            ------------------------------- end ------------------------------- end -------------------------------
            end ------------------------------- end ------------------------------- end
            ------------------------------- end ------------------------------- end -------------------------------
            end ------------------------------- end ------------------------------- end
            ------------------------------- end ------------------------------- end -------------------------------
            end ------------------------------- end ------------------------------- end
            ------------------------------- end ------------------------------- end -------------------------------
            end ------------------------------- end ------------------------------- end
            ------------------------------- end ------------------------------- end -------------------------------
            end ------------------------------- end ------------------------------- end
            ------------------------------- end ------------------------------- end -------------------------------
            end ------------------------------- end ------------------------------- end
            ------------------------------- end ------------------------------- end -------------------------------
            end ------------------------------- end ------------------------------- end
            ------------------------------- end ------------------------------- end -------------------------------
            end ------------------------------- end ------------------------------- end --------------
        </div>
    </div>

    <div *ngIf="state === 0 && !hasRecordAfter && !hasRecordBefore && m.length === 0" class="empty-log-message-container">
        <div class="empty-log-message">
                <span *ngIf="vs.filesErrorCount === 0">
                    <span *ngIf="vs.filesValidCount === 0" class="no-record-msg">
                        Log file does not exist
                    </span>
                    <span *ngIf="vs.filesValidCount > 0">
                        <span *ngIf="vs.size === 0" class="no-record-msg">Log is empty</span>
                        <span *ngIf="vs.size > 0" class="no-record-msg">All records filtered</span>
                    </span>
                </span>
            <span *ngIf="vs.filesErrorCount > 0">
                    <span *ngIf="vs.filesValidCount > 0" class="no-record-msg">No record to display</span>
                    <span *ngIf="vs.filesValidCount === 0" class="no-record-msg" style="color: #a22;">Failed to read log</span>
             </span>
        </div>

        <div class="file-list">
            <div>
                <table cellpadding="0" cellspacing="0">
                    <tr *ngFor="let l of logs">
                        <td>
                            {{l.node}}
                        </td>
                        <td>
                            {{l.path}}
                        </td>
                        <td>
                            <sl-file-status [status]="vs.statuses[l.id]" [showErrorMessages]="true"></sl-file-status>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div *ngIf="state === 4" class="empty-log-message-container">
        <div id="no-log-paths" class="empty-log-message" style="font-size: 24px;">
            Log path is not specified. You can select log in <a href="javascript:void(0)" [routerLink]="['/']">file browser</a>
        </div>
    </div>
</div>

<div class="sl-overlay" [style.display]="modalWindow === 'findProgress' ? 'block' : 'none'">
    <div class="modal-background sl-overlay"></div>

    <div class="sl-dialog sl-dialog-small">
        <div style="display: table; width: 100%; height: 100%; text-align: center;">
            <div style="display: table-cell; vertical-align: middle;">
                <img src="assets/progress.gif"> search... <a href="javascript:void(0)" (click)="cancelSearch()">cancel</a>
            </div>
        </div>
    </div>
</div>

<div class="sl-overlay" [style.display]="modalWindow === 'filterChanging' ? 'block' : 'none'">
    <div class="modal-background sl-overlay"></div>

    <div class="sl-dialog sl-dialog-small">
        <div style="display: table; width: 100%; height: 100%; text-align: center;">
            <div style="display: table-cell; vertical-align: middle;">
                <img src="assets/progress.gif"> applying filters ...
            </div>
        </div>
    </div>
</div>

<div *ngIf="modalWindow === 'disconnected'" class="sl-overlay">
    <div class="modal-background sl-overlay"></div>

    <div class="sl-dialog sl-dialog-small">
        <div style="display: table; width: 100%; height: 100%; text-align: center;">
            <div style="display: table-cell; vertical-align: middle; color: red;">
                {{disconnectMessage}}
            </div> 
        </div>
    </div>
</div>

<div *ngIf="modalWindow === 'brokenLink'" class="sl-overlay">
    <div class="modal-background sl-overlay"></div>

    <div class="sl-dialog sl-dialog-small">
        <div style="padding: 10px 20px 0 20px;">
            <div style="display: table; width: 100%; height: 100%; text-align: center;">
                <div style="display: table-cell; vertical-align: middle;">
                    Failed to restore position by permalink, may be log file has been rewritten.<br>
                    <button id="brokenLinkGoTail" class="btn btn-default" (click)="goToTailAfterBrokenLink()">Open log tail</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="modalWindow === 'filter-error'" id="filter-error-modal" class="sl-overlay">
    <div class="modal-background sl-overlay"></div>

    <div class="sl-dialog sl-dialog-big p-2" style="overflow-y: auto;">
        <div class="d-flex justify-content-end">
            <button id="close-filtering-error-dialog" class="btn btn-link" (click)="modalWindow = null">Close</button>
        </div>

        <div class="filter-error-text">
            Filter error: {{filterErrorText}}
        </div>
    </div>
</div>

<div *ngIf="modalWindow === 'event-details'" class="sl-overlay">
    <div class="modal-background sl-overlay"></div>

    <div class="sl-dialog sl-dialog-big p-2" style="overflow-y: scroll;">
        <div class="d-flex justify-content-end">
            <button class="btn btn-link" (click)="modalWindow = null">Close</button>
        </div>

        <sl-event-details [record]="recordWithDetails"></sl-event-details>
    </div>
</div>

<context-menu #eventContextMenu>
    <ng-template contextMenuItem (execute)="showEventDetails($event.item.record)">
        Event details
    </ng-template>
    <ng-template [visible]="contextMenuHandler.isDateMenuItemVisible" let-item contextMenuItem
                 (execute)="contextMenuHandler.hideEventsByTimestamp($event.item.record, false)">
        Hide events older than current
    </ng-template>
    <ng-template [visible]="contextMenuHandler.isDateMenuItemVisible" let-item contextMenuItem
                 (execute)="contextMenuHandler.hideEventsByTimestamp($event.item.record, true)">
        Hide events newer than current
    </ng-template>

    <ng-template [visible]="contextMenuHandler.isThreadMenuItemVisible" let-item contextMenuItem [subMenu]="threadMenu">
        Thread: <span class="menu-item-thread"><mark>{{item.thread}}</mark></span>&nbsp;&nbsp;
    </ng-template>
    <context-menu #threadMenu>
        <ng-template contextMenuItem let-item (execute)="contextMenuHandler.filterByThread($event.item.thread)">
            Show only "<span class="menu-item-thread">{{item.thread}}</span>"
        </ng-template>
        <ng-template contextMenuItem let-item [visible]="contextMenuHandler.hasThreadGroup"
                     (execute)="contextMenuHandler.filterByThread($event.item.threadGroup)">
            Show only "<span class="menu-item-thread"><span [innerHTML]="item.threadGroupHtml"></span></span>"
        </ng-template>
        <ng-template contextMenuItem let-item (execute)="contextMenuHandler.excludeThread($event.item.thread)">
            Hide "<span class="menu-item-thread">{{item.thread}}</span>"
        </ng-template>
        <ng-template contextMenuItem let-item [visible]="contextMenuHandler.hasThreadGroup"
                     (execute)="contextMenuHandler.excludeThread($event.item.threadGroup)">
            Hide "<span class="menu-item-thread"><span [innerHTML]="item.threadGroupHtml"></span></span>"
        </ng-template>
    </context-menu>

</context-menu>
