:host {
  z-index: 3;
  display: block;
  position: relative;

  & > div {
    display: flex;
    justify-content: space-between;
    min-height: 35px;
    background: #000;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    padding: 0 20px;

    .navbar-header {
      float: left;
      .navbar-brand {
        height: auto;
        padding: 5px;
        margin-left: 0;
        .logo {
          height: 25px;
        }
      }
    }
  }

  .navbar-middle {
    float: left;
  }

  .dropdown.open > a,
  .dropdown.open > a:focus,
  .dropdown.open > a:hover {
    background: none !important;
    color: #00abab !important;
  }

  .profile-img {
    width: 25px;
    padding-top: 5px;
  }

  .navbar-nav {
    margin: 0;
    .dropdown-menu {
      background: #333;
      border: none;
      padding: 0;

      & > li > a {
        color: #eee;
        padding: 3px 15px !important;
        font-family: Arial, sans-serif;
        font-size: 13px;

        &.active {
          color: #00abab !important;
          pointer-events: none;
        }
        &:hover {
          background: #00abab;
          color: #eee !important;
        }
      }
    }

    .fa,
    .icon {
      padding-right: 7px;
    }
    .fa-tachometer:before {
      font-size: 12px;
    }
    .fa-times-circle {
      padding-right: 6px;
    }
    .fa-times-circle:before {
      font-size: 15px;
    }

    & > li {
      float: left;

      & > a {
        color: #ccc;
        padding: 7px 15px;
        font-size: 13px;
        &:hover,
        &:active,
        &:focus {
          color: #00abab;
          background-color: #000000;
        }

        &.disabled {
          pointer-events: none;
        }

        & > .fa {
          font-size: 14px;
          padding-right: 5px;
        }
        & > .icon {
          font-size: 21px;
          vertical-align: bottom;
          padding-right: 6px;
        }
        & > .behavox-icon {
          font-size: 14px;
          vertical-align: bottom;
          padding-right: 6px;
          position: relative;
        }
      }

      &.active {
        border-bottom: solid 4px #1ea382;
        & > a {
          background: none;
        }
      }
    }
  }

  .fa-cog {
    padding-right: 5px;
  }

  .navbar-right {
    float: right;
  }

  .navbar-right .dropdown-menu {
    left: 0;

    & > li > a {
      padding: 3px 11px !important;
    }
  }

  .navbar-tab-label {
    display: none;
  }
  @media (min-width: 700px) {
    .navbar-header {
      width: 230px;
    }
    .navbar-main {
      width: calc(100% - 230px);
    }
  }
  @media (min-width: 1100px) {
    .navbar-tab-label {
      display: initial;
    }
  }
}
